<h1>All Creatures:</h1>

<ul>
  @foreach (Creature creature in Model)
  {
    <ul>
      <li>
        <a href="/Creatures/Details/@(creature.CreatureId)">
          <p>@creature.CreatureName</p>
        </a>
      </li>
      <li>@creature.CreatureImage</li>
    </ul>
  }
</ul>